<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpModules>
     <!-- Simply modify your ASP.NET web application's web.config file to add 
          this section under the same sections. Normally, sections "configuration"
          and "system.web" are present, but the "httpModules" section may be 
          missing if this is the first module you add to your application. Don't
          forget to add GZipHttpModule to your app's references.
          
          The "name" is a short friendly description
          The "type" is the full class name (with namespace) implementing the 
          IHttpModule interface, followed by a comma, and the assembly's filename.
     -->
       
       <add name="GZipHttpModule" 
            type="Xceed.Compression.Formats.Samples.GZipHttpModule.GZipHttpModule, GZipHttpModule"/>
    </httpModules>   
  </system.web>
</configuration>
